<ion-header>
  <ion-toolbar>
    <ion-title>Connacht Counties</ion-title>
    <!--Navigation-->
    <ion-back-button color="danger"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Visuals, flag and label-->
  <h2>Connacht</h2>
  <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png">
  <br>
  <hr>
  <!--List of counties-->
  <ul>
    <li>Galway</li>
    <li>Mayo</li>
    <li>Sligo</li>
    <li>Roscommon</li>
    <li>Leitrim</li>
  </ul>
</ion-content>
