<ion-header>
  <ion-toolbar>
    <ion-title>Ulster Counties</ion-title>
    <!--Navigation-->
    <ion-back-button color="danger"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Visuals, flag and label-->
<h2>Ulster</h2>
<img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Flag_of_Ulster.svg">
<br>
<hr>
<ul>
  <li>Antrim</li>
  <li>Armagh</li>
  <li>Cavan</li>
  <li>Derry</li>
  <li>Donegal</li>
  <li>Down</li>
  <li>Fermanagh</li>
  <li>Monaghan</li>
  <li>Tyrone</li>
</ul>
</ion-content>