<ion-header>
  <ion-toolbar>
    <ion-title>Munster Counties</ion-title>
    <!--Navigation-->
    <ion-back-button color="danger"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--Visuals, flag and label-->
  <h2>Munster</h2>
  <img width="200" height="200" src="http://cdn2.bigcommerce.com/server4100/fbaa7/images/stencil/1024x1024/products/143/234/MunsterFlag__26591.1321815062.gif?c=2">
  <br>
  <hr>
  <ul>
    <li>Clare</li>
    <li>Cork</li>
    <li>Kerry</li>
    <li>Limerick</li>
    <li>Tipperary</li>
    <li>Waterford</li>
  </ul>
</ion-content>
