<ion-header>
  <ion-toolbar>
    <ion-title>Leinster Counties</ion-title>
    <!--Navigation-->
    <ion-back-button color="danger"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--Visuals, flag and label-->
<h2>Leinster</h2>
<img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Flag_of_Leinster.svg">
<br>
<hr>
<ul>
  <li>Carlow</li>
  <li>Dublin</li>
  <li>Kildare</li>
  <li>Kilkenny</li>
  <li>Laois</li>
  <li>Longford</li>
  <li>Louth</li>
  <li>Meath</li>
  <li>Offaly</li>
  <li>Westmeath</li>
  <li>Wexford</li>
  <li>Wicklow</li>
</ul>
</ion-content>
